@colorLightColor: #848483;
@colorDarkColor: #231F20;
@colorRedColor: #df0021;


@font-face {
    font-family: 'helveticaneuelt_pro_55_rombd';
    src: url('/css/fonts/helveticaneueltpro-bd-webfont.eot');
    src: url('/css/fonts/helveticaneueltpro-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/helveticaneueltpro-bd-webfont.woff') format('woff'),
         url('/css/fonts/helveticaneueltpro-bd-webfont.ttf') format('truetype'),
         url('/css/fonts/helveticaneueltpro-bd-webfont.svg#helveticaneuelt_pro_55_rombd') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neue_lt_prolt';
    src: url('/css/fonts/helveticaneueltpro-lt-webfont.eot');
    src: url('/css/fonts/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('/css/fonts/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('/css/fonts/helveticaneueltpro-lt-webfont.svg#helvetica_neue_lt_prolt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuperiorTitle-bold';
    src: url('/css/fonts/SuperiorTitle-bold-webfont.eot');
    src: url('/css/fonts/SuperiorTitle-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SuperiorTitle-bold-webfont.woff') format('woff'),
         url('/css/fonts/SuperiorTitle-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconmoon-icon';
    src:url('/css/fonts/icomoon.eot');
    src:url('/css/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/icomoon.woff') format('woff'),
        url('/css/fonts/icomoon.ttf') format('truetype'),
        url('/css/fonts/icomoon.svg#iconmoon-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@icon-pinterest: "\f003";
@icon-email: "\f004";
@icon-facebook: "\f005";
@icon-twitter: "\f006";
@icon-linkedin: "\f007";
@icon-pinterest2: "\f008";
@icon-instagram: "\f00f";
@icon-youtube: "\f00e";
@icon-arrowDown: "\f009";
@icon-arrowPlay: "\f010";
@icon-arrowUp: "\f00A";
@icon-roundOpen: "\f00B";
@icon-roundClosed: "\f00C";
@icon-openMenu: "\f00D";

.serif {
    font-family: 'SuperiorTitle-bold';
}
.sans1 {
    font-family: 'helvetica_neue_lt_prolt';
}
.sans2 {
    font-family: 'helveticaneuelt_pro_55_rombd';
}
.icons {
    font-family: 'iconmoon-icon';
}
a.icons-P:before { content: @icon-pinterest; }
a.icons-F:before { content: @icon-facebook; }
a.icons-T:before { content: @icon-twitter; }
a.icons-E:before { content: @icon-email; }  
a.icons-L:before { content: @icon-linkedin; } 
a.icons-P2:before { content: @icon-pinterest2; } 
a.icons-I:before { content: @icon-instagram; } 
a.icons-Y:before { content: @icon-youtube; } 

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.inlineBlock {
    display: inline-block;
    /*display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    *display: inline;*/
}
.txt1 {
     font-size: 0.75em;
     line-height: 1.4em;
     .sans1;    
}

.colorDark {
    color: @colorDarkColor!important;
}

.colorLight {
    color: @colorLightColor;
}

.colorRed {
    color: @colorRedColor;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.hide {
	display: none;
}
.hide2 {
    display: none!important;
}






.unveil {
    display: none!important;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding: 10px 30px 0 30px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    font: 16px Helvetica, Helvetica Neue, Arial;
}

noscript {
    z-index: 1000;
    position: fixed;
    width: 100%;
    div {
        background: #fff;
        height: 200px;
        font-size: 2em;
        padding: 30px;
        font-weight: bold;
        .colorDark;
        text-align: center;
    }
}

.wrapper {
    width: 100%;
}
.main {
    background: #fff;
}

.header-container>header {
    display: block;
    position: relative;
    h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 46px;
        border-bottom: 1px solid @colorLightColor;
        a {
            .icons;
            .colorRed;
            text-decoration: none;
            display: block;
            font-weight: normal;
        }
    }
    nav {
        display: none;
        overflow: hidden;
        position: absolute;
        height: 600px;
        width: 300px;
        z-index: 1;
    }
    .nav-1,.nav-2 {
        .sans1;
        padding: 0;
        margin: 0;
        li {
            a {
                text-decoration: none;
                .colorLight;
                &:hover {
                    .colorRed;
                }
            }
            &.nav-1-active>a, &.nav-2-active>a {
                .colorRed;
            } 
        }

    }
    .nav-1 {
        position: absolute;
        left: -260px;
        width: 200px;
        background-color: #fff;
        padding: 30px 30px 30px 0;
        -webkit-box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.68);
        -moz-box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.68);
        box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.68);
        >li {
            margin-bottom: 15px;
            >a {
                text-transform: uppercase;
                &:before { 
                    content: "/ "; 
                }
            }
        }

    }
    .nav-2 {
        margin: 15px 0 15px 10px;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.section-content {
    padding-top: 20px;
    padding-bottom: 40px;

}


.footer-container {
    position: relative;

}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.cmp-footer1, .cmp-footer2, .cmp-footer3, .cmp-footer4 {
    .colorLight;
    .sans1;
    font-size: 0.7em;
    a {
        text-decoration: none;
        .colorLight;
        &:hover {
            .colorRed;
        }
        span {
            display: none;
        }
    }
    div {
        text-align: center;
    }
    .cmp-footer1-heading, .cmp-footer2-heading, .cmp-footer3-heading, .cmp-footer4-heading {
        text-transform: uppercase;
    }
}

.cmp-footer4 {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}


.cmp-footer2 {
    margin-top: 40px;
    .cmp-footer2-text {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                .inlineBlock;
            }
            a {
                .icons;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                display: block;
                font-size: 180%;
            }
        }
    }
}

.cmp-footer3 {
    margin-top: 40px;
}

.cmp-footer4 {}


.cmp-footer1-text {
    margin-top: 21px;
    p {
        margin: 0 0 15px 0;
        padding: 0;
    }
}

.cmp-footer3-text {
    margin-top: 15px;
}
.cmp-footer2-text {
    margin-top: 12px;
}



.cmp-section-top-height {
    min-height: 185px;
}

.cmp-text {
    .sans1;
    font-size: 0.8em;
    .colorLight;
    a {
        text-decoration: none;
        .colorRed;
    }
    p {
        margin: 0 0 15px 0;

    }
    .cmp-text-social {
        span {
            .inlineBlock;
        }
        ul {
            .inlineBlock;
            list-style: none;
            margin: 0 0 0 3px;
            padding: 0;
            li {
                .inlineBlock;
                margin-left: 3px;
                a {
                    text-decoration: none;
                    .icons;

                    .colorLight;
                    span {
                        display: none;
                    }
                }
            }
        }

    }



}


.cmp-large-text {
    .sans1;
    .colorLight;
    font-size: 2em;
    strong {
        .serif;
        .colorRed;
        font-size: 135%;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid @colorRedColor;
        .colorLight;
        line-height: 1em;
        .inlineBlock;
        position: relative;
        top: 2px;
        &:hover {
            .colorRed;
        }
    }
    p {
        margin: 0;
    }
}
.cmp-large-text.super-large {
    font-size: 3em;
    line-height: 1.6em;

}

.cmp-large-text-center {
    display: table;
    width: 100%;
    div.cmp-large-text-center-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}


.cmp-newsletterSignup {
    text-align: center;
    span {

    }
    input {
        width: 320px;
        border: 1px solid @colorLightColor;
        border-width: 0 0 1px 0;
    }
    input,a,span {
        .colorLight;
        .inlineBlock;
        padding: 5px 5px 0 5px;
        outline: 0;
        .sans1;
        font-size: 100%;
        &::-webkit-input-placeholder {
           .colorLight;
        }
        &:-moz-placeholder { /* Firefox 18- */
           .colorLight;  
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           .colorLight;  
        }
        &:-ms-input-placeholder {  
           .colorLight; 
        }

    }   
}


.cmp-tile {
    list-style: none;
    margin: 0;
    padding: 0;
    .cmp-tile-image, .cmp-tile-caption {
        display: block;
        padding: 3px 0;
    }
    .cmp-tile-caption {
        .sans1;
        font-size: 0.8em;
        .colorLight;
        text-decoration: none;

    }
    img {
        width: 100%;
    }
}





.cmp-2col {
    .cmp-2col-col1 {

    } 
    .cmp-2col-col2 {

    } 

}
















.cmp-section {
    >li.cmp-section-w2 {
        width: 100%;
    }
}





.cmp-show-nav {
    span {
        display:none;
    }
    position: absolute;
    top: 0px;
    left: -9px;
    padding: 10px;
    font-size: 1.5em;
    .colorDark;
    text-decoration: none;
    &:after {
        content: @icon-openMenu;
        display: block;
        .icons;
        width: 20px;
        height: 20px;
    }
}


