

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.inlineBlock {
    display: inline-block;
    /*display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    *display: inline;*/
}


 /*

 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================

*/





@wdS: 262px;
@htS: 220px;
@mg: 6px;
.cmp-section {
    >li:not(.cmp-section-content-recipe) {
        width: @wdS;
        height: @htS;
    }
    .cmp-section-textbox div {
         padding: 20px 23px;
    }
}
.cmp-section-x1 {
    left: (@wdS+@mg);
}
.cmp-section-x2 {
    left: 2*(@wdS+@mg);
} 
.cmp-section-y1 {
    top: (@htS+@mg);
} 
.cmp-section-y2 {
    top: 2*(@htS+@mg);
}
.cmp-section-y3 {
    top: 3*(@htS+@mg);
}
.cmp-section-y4 {
    top: 4*(@htS+@mg);
}
.cmp-section-y5 {
    top: 5*(@htS+@mg);
}
.cmp-section-y6 {
    top: 6*(@htS+@mg);
}  
.cmp-section-y7 {
    top: 7*(@htS+@mg);
}  
.cmp-section-y8 {
    top: 8*(@htS+@mg);
}  
.cmp-section-y9 {
    top: 9*(@htS+@mg);
}  
.cmp-section-w1 {
    width: (@wdS*1)+(@mg*0)!important;
}
.cmp-section-w2 {
    width: (@wdS*2)+(@mg*1)!important;
}
.cmp-section-w3 {
    width: (@wdS*3)+(@mg*2)!important;
}
.cmp-section-h1 {
    height: ((@htS*1)+(@mg*0))!important;
}     
.cmp-section-h2 {
    height: ((@htS*2)+(@mg*1))!important;
}
.cmp-section-h3 {
    height: ((@htS*3)+(@mg*2))!important;
}
.cmp-section-h4 {
    height: ((@htS*4)+(@mg*3))!important;
} 
.cmp-section-h5 {
    height: ((@htS*5)+(@mg*4))!important;
}       
.cmp-section-h6 {
    height: ((@htS*6)+(@mg*5))!important;
} 
.cmp-section-h7 {
    height: ((@htS*7)+(@mg*6))!important;
} 
.cmp-section-h8 {
    height: ((@htS*8)+(@mg*7))!important;
} 
