@colorLightColor: #848483;
@colorDarkColor: #231F20;
@colorRedColor: #df0021;



.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.inlineBlock {
    display: inline-block;
    /*display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    *display: inline;*/
}




 /*

 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================

*/

body {
    max-width: none;
    padding: 0;
}

.wrapper {
    width: 768px;
}



.cmp-show-nav {
    display: none;
}

.header-container>header {
    margin-top: 8px;
    margin-bottom: 89px;
    h1 {
        border: none;
    }
    nav {
        position: static;
        display: block!important;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .nav-1,.nav-2 {
        text-align: center;
        margin: 15px 0 7px;
        li {
            .inlineBlock;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .nav-1 {
        width: 100%;
        border-bottom: 1px solid @colorLightColor;
        position: static;
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .nav-2 {
        position: absolute;
        margin-left: 0;
        border-bottom: 1px solid @colorLightColor;
        padding-bottom: 0;
        top: 90px;
        left: 0;
        width: 100%;
        font-size: 80%;
        li {
            padding-bottom: 0;
        }
    }
}


.cmp-2col {
    .cmp-2col-col1 {
        float: left;
        width: 60%;
    } 
    .cmp-2col-col2 {
        float: left;
        width: 40%;
    } 

}


.cmp-large-text  p {
    margin-top: -18px;

}

.cmp-footer1, .cmp-footer2, .cmp-footer3 {
    top: 20px;
    width: 300px;
}
.cmp-footer1, .cmp-footer2, .cmp-footer3, .cmp-footer4 {
    position: absolute;
}
.cmp-footer1 { 
    left: 100px; 
}
.cmp-footer2 {
    left: 400px; 
    margin-top: 0;
} 
.cmp-footer3 {
    left: 700px;
    margin-top: 0;
} 
.cmp-footer3 {
    margin-top: 0;
}

.cmp-footer1-text,.cmp-footer3-text {
    margin-top: 20px;
}
.cmp-footer2-text {
    margin-top: 15px;
}




