
.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.inlineBlock {
    display: inline-block;
    /*display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    *display: inline;*/
}






 /*

 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================

*/

body {
    padding: 0 22px;
}

.wrapper {
   width: 980px;
}

.cmp-newsletterSignup {
    input {
        width: 80px;
    }
}



.cmp-footer1, .cmp-footer2, .cmp-footer3 {
    width: 318px;
}

.cmp-footer1 { 
    left: 0px; 
}
.cmp-footer2 {
    left: 318px; 
    margin-top: 0;
} 
.cmp-footer3 {
    left: 634px;
    margin-top: 0;
} 
.cmp-footer4 {

}

.cmp-newsletterSignup {
    input {
        width: 184px;
    }
}

.cmp-2col {
    .cmp-2col-col1 {
        float: left;
        width: 55%;
        margin-right: 5%
    } 
    .cmp-2col-col2 {
        float: left;
        width: 40%;
        margin-top: 0;
    } 
    .cmp-large-text {
        margin-top: -4px;
    }
}

.cmp-3col {
    .cmp-3col-col1,.cmp-3col-col2,.cmp-3col-col3 {
        float: left;
        width: 32%;
    } 
    .cmp-3col-col1,.cmp-3col-col2 {
        margin-right: 2%;
    }
    .cmp-3col-col3 {
        clear: none;
        padding-top: 0;
    }
}

.cmp-tile ul {
    li {
        width: 33.33%;
    }
    .cmp-tile-x1 {
        left: 33.33%;
    }
    .cmp-tile-x2 {
        left: 66.66%;
       span {
            left: 12px;
        }
    }

    @htS: 21.8%;
    @mg: 11px;
    .cmp-tile-y1 {
        margin-top: (@htS*1);
        padding-top: (@mg);
    }     
    .cmp-tile-y2 {
        margin-top: (@htS*2);
        padding-top: (@mg*2);
    }
    .cmp-tile-y3 {
        margin-top: (@htS*3);
        padding-top: (@mg*3);
    }
    .cmp-tile-y4 {
        margin-top: (@htS*4);
        padding-top: (@mg*4);
    } 
    .cmp-tile-y5 {
        margin-top: (@htS*5);
        padding-top: (@mg*5);
    }       
    .cmp-tile-y6 {
        margin-top: (@htS*6);
        padding-top: (@mg*6);
    } 
    .cmp-tile-y7 {
        margin-top: (@htS*7);
        padding-top: (@mg*7);
    } 
    .cmp-tile-y8 {
        margin-top: (@htS*8);
        padding-top: (@mg*8);
    } 
}

.cmp-tile.cmp-tile-smallTiles {
    padding-right: 30px;
    li {
        width: 16.666%;
    }
    .cmp-tile-x1 {
        left: 16.666%;
    }
    .cmp-tile-x2 {
        left: 33.333%;
    }
    .cmp-tile-x3 {
        left: 50%;
        span {
            left: 18px;
        }
    }
    .cmp-tile-x4 {
        left: 66.666%;
        span {
            left: 24px;
        }
    }
    .cmp-tile-x5 {
        left: 83.333%;
        span {
            left: 30px;
        }
    }

    @htS: 10.9%;
    .cmp-tile-y1 {
        margin-top: (@htS*1);
    }     
    .cmp-tile-y2 {
        margin-top: (@htS*2);
    }
    .cmp-tile-y3 {
        margin-top: (@htS*3);
    }
    .cmp-tile-y4 {
        margin-top: (@htS*4);
    } 
    .cmp-tile-y5 {
        margin-top: (@htS*5);
    }       
    .cmp-tile-y6 {
        margin-top: (@htS*6);
    } 
    .cmp-tile-y7 {
        margin-top: (@htS*7);
    } 
    .cmp-tile-y8 {
        margin-top: (@htS*8);
    } 

}


