@colorLightColor: #848483;
@colorLighterColor: #bbb;
@colorDarkColor: #231F20;
@colorRedColor: #df0021;



.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
.inlineBlock {
    display: inline-block;
    /*display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    *display: inline;*/
}




 /*

 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================
 ======================================================================================

*/

body {
    max-width: none;
    padding: 0;
}

.wrapper {
    width: 650px;
    margin: 0 auto;
}

.cmp-2col {
    padding-top: 8px;
}

.cmp-show-nav {
    display: none;
}

.header-container>header {
    h1 {
    	margin: 0;
        border: none;
        height: 37px;
        overflow: visible;
    }
    nav {
        position: static;
        display: block!important;
        width: auto;
        height: auto;
        overflow: visible;
		&.has-nav-2 {
			padding-bottom:10px;	
		}
    }
    .nav-1,.nav-2 {
        text-align: center;
        margin: 15px 0 0;
        z-index: 1;
        li {
            .inlineBlock;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .nav-1 {
        width: 100%;
        border-bottom: 1px solid @colorLighterColor;
        position: static;
        padding: 11px 0 0 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: 0.9em;
    }
    .nav-2 {
        position: absolute;
        background: #fff;
        margin-left: 0;
        border-bottom: 1px solid @colorLighterColor;
        padding-bottom: 0;
        padding-top: 9px;
        top: 91px;
        left: 0;
        width: 100%;
        font-size: 80%;
        li {
            padding-bottom: 0;
        }
    }
}

.nav2Padding {
    padding-top: 45px;
}


.main-container {
    padding-top: 114px;
}

.cmp-3col {
    .cmp-3col-col1,.cmp-3col-col2 {
        float: left;
        width: 49%;
    } 
    .cmp-3col-col1 {
        margin-right: 2%;
    }
    .cmp-3col-col3 {
        padding-top: 20px;
        clear: left;
    }
     .cmp-large-text {
        margin-top: -3px;
    }
}

.cmp-section-spacer {
    height: 20px;
}

.cmp-large-text.super-large {
    font-size: 2.43em;
    line-height: 1.3em;
}

.cmp-section-top-height {
    /*min-height: 120px;*/
}

.footer-container .wrapper {
    padding-top: 23px;
}


.footer-content {
    position: relative;
}

.cmp-footer1, .cmp-footer2, .cmp-footer3 {
    margin-top: 0;
    top: 0;
    width: 225px;
}
.cmp-footer2, .cmp-footer3, .cmp-footer4 {
    position: absolute;
}

.cmp-footer2 {
    left: 225px; 
} 
.cmp-footer3 {
    left: 440px;
} 
.cmp-footer4 {
    bottom: 0;
    margin-top: 0;
}


.cmp-newsletterSignup {
    input {
        width: 80px;
    }
}


/* cmp tile functions */

.generate-tile-grid(@n, @i: 1) when (@i =< @n) { 
    .cmp-tile-y@{i} {
        z-index: (100-@i);
        margin-top: (@ht*@i);
        padding-top: (@mg*@i);
    }
    .cmp-tile-height-@{i} {
        margin-bottom: (@ht*@i);
        padding-bottom: (@mg*@i);
    } 
    .generate-tile-grid(@n, (@i + 1));
} 

.generate-tile-x(@n, @i: 1) when (@i =< @n) {

    .cmp-tile-x@{i} {
        left: ((@wd+@mg)*@i);
    }
    .generate-tile-x(@n, (@i + 1));
} 
/* end - cmp tile functions */


.cmp-tile-landscape.cmp-tile-big .cmp-tile-caption {
    margin-top: -5px!important;
}

.cmp-tile {

    .cmp-tile-landscape .cmp-tile-caption {
        margin-top: -13px;
    }
    @ht: 223px;
    @wd: 320px;
    li {
        width: @wd;
        position: absolute;
        display: none;
    }
    li.cmp-tile-big {
        width: @wd*2+@mg;
    }
    @mg: 10px; 
    .generate-tile-x(1);
    .generate-tile-grid(20);
}


.cmp-tile.cmp-tile-smallTiles {
    padding-right: 12px;
    @ht: 115px;
    @wd: 158px;
    li {
        width: @wd;
    }
    li.cmp-tile-big {
        width: @wd*2+@mg;
    }
    @mg: 6px; 
    .generate-tile-x(6);
    .generate-tile-grid(20);
}


